{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    [
      "module-resolver",
      {
        "alias": {
          "@calculators": "./src/calculators",
          "@convertors": "./src/convertors",
          "@make-breakpoints-map": "./src/make-breakpoints-map",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@utils-public": "./src/utils-public",
          "@constants": "./src/constants",
          "@error-messages": "./src/error-messages",
          "@validate-user-config": "./src/validate-user-config",
          "@mocks": "./src/mocks"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-flow"],
      "plugins": ["@babel/plugin-proposal-export-default-from"]
    }
  }
}
